
.collections {
  display: block;
}

.collection-block {
  display: flex;
  height: 150px;
  align-items: center;
  justify-content: center;
}

    .monster-warriors {
      background-image: url("monster-warriors.png");
      background-position: center;
      background-size: cover;
    }

    .original-muppets {
      background-image: url("og-muppets.png");
      background-position: center;
      background-size: cover;
    }

.collection-block-link {
  color: white;
  text-decoration: none;
}

.collection-title {
  transition: transform 0.3s ease-in-out;
  font-size: 1.6rem;
  font-weight: 400;

}

.collection-block-link:hover .collection-title {
  transform: rotate(-5deg);
}
